body {
  padding-top: 50px;
  font-family: sans-serif;
}

.market-statement {
  font-style: italic;;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

.debugPanel {
  background-color: lightgray;
  padding: 10px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon {
  fill: gray;
}

.brand {
  line-height: 5px;
}

.brand * {
  vertical-align: middle;
}
