html {
    position: relative;
    min-height: 100%;
}

body {
  padding-top: 50px;
  font-family: sans-serif;
}

.prediction-statement {
  font-style: italic;;
}

.hidden {
  position: absolute;
  visibility: hidden;
}

.debugPanel {
  background-color: lightgray;
  padding: 10px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.icon {
  fill: gray;
}

.navbar .navbar-brand {
  padding-top: 13px;
}

.brand * {
  vertical-align: middle;
}

.wrapper {
    margin: 0 0 70px; /* bottom = footer-muted height */
    padding: 25px;
}

.footer-muted {
    background-color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}
