* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

.giphy__list {
    font-size: 0;
    padding: 0;
}
.giphy__list li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 5px 0.5%;
    width: 24%;
}
.giphy__list li img {
    width: 100%;
}

.giphy__input {
    margin: 40px 0;
    text-align: center;
}
.giphy__input input {
    width: 400px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 6px 10px 7px 25px;
    color: #000;
    font-size: 14px;
    -webkit-appearance: none;
    appearance: none;
}
.giphy__input input:focus {
    background: #fff;
    outline: none;
}

.error {
    color: #f64141;
    text-align: center;
    font-size: 24px;
}
